*, *::before, *::after{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
}
:root{
    --color-one: hsl(192, 95%, 50%);
    --color-two: hsl(191, 100%, 98%);
}

.card-main1{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 7px 0 black;
    width: 50%;

}
.card-main1:hover{
    transform: scale(1.01);
    box-shadow: 0 5px 10px 0 pink;
    transition: ease-out .3s;

}
.card-header img{
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
    width: 100%;
    max-height: 200px;
    object-position: center;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.card-body, .card-footer{
    padding: 10px;
    font-size: 1rem;
}
.card-footer{
    margin-top: 0px;
}

.card-footer .blue{
    border: none;
    padding: 20px;
    margin-right: 5px;
    border-radius: 15px;
    background-color: var(--color-one);
    color: var(--color-two);
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--color-two);
}
.card-footer .blue:hover{
    background-color: var(--color-two);
    color: var(--color-one);
    box-shadow: 0 0 0 1px var(--color-one);
    transition: ease-out .3s;
}
.card-footer .white{
    border: none;
    padding: 20px;
    margin-right: 5px;
    border-radius: 15px;
    background-color: var(--color-two);
    color: var(--color-one);
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--color-one);
}
.card-footer .white:hover{
    background-color: var(--color-one);
    color: var(--color-two);
    box-shadow: 0 0 0 1px var(--color-two);
    transition: ease-out .3s;
}
@media (max-width: 800px) {
    
    .card-main1{
        width: 100%;
    }
}
